/* my-no-tailwind.css */
/* my-no-tailwind.css */
.my-5.container-fluid {
  background-color: transparent;
}

.rocket-back{
    /* background: linear-gradient(90deg, #000000 0%, #222222 99.14%) ; */
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}

.rocket-back::after{
    content: '';
    width: 100%;
    height: 80%;
    background: linear-gradient(90deg, #000000 0%, #222222 99.14%);
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
    border-radius: 14px 14px 0px 0px;
}
.rocket-back-txt h5{
  color:#E4E4E4;
  font-size: 45px !important;
  font-weight: 600;
  line-height: 1.1 !important;
}

.soc-med{
      background: linear-gradient(90deg, #55C755 0%, #FFFF00 100%);
  -webkit-background-clip: text; /* for Safari/Chrome */
  -webkit-text-fill-color: transparent; /* makes the gradient visible */
  background-clip: text; /* for Firefox */
  color: transparent;
    font-size: 45px !important;
    font-weight: 600;
      line-height: 1.1 !important;
}
.rocket-back-txt h6{
  color:#FFFFFF;
  font-size: 17px;
  line-height: 1.3;
}

@media (max-width:768px) {
    .rocket-back::after{
    content: '';
    width: 100%;
    height: 110%;
    background: linear-gradient(90deg, #000000 0%, #222222 99.14%);
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
    border-radius: 14px 14px 0px 0px;
}
.rocket-back-txt h5 {
    font-size: 32px;
}

}


@media (min-width:600px) and  (max-width: 992px) {
 .rocket-back-txt h5{

  font-size: 30px !important;

}

.soc-med{
    
    font-size: 30px !important;

}
 
}

@media (min-width:401px) and  (max-width: 599px) {
 .rocket-back-txt h5{

  font-size: 30px !important;

}

.soc-med{
    
    font-size: 30px !important;

}
.rocket-back-txt h6 {
    color: #FFFFFF;
    font-size: 15px !important;
    line-height: 1.3;
}
 
  
}
@media (max-width:400px){
 
.rocket-back-txt h5{

  font-size: 24px !important;

}

.soc-med{
    
    font-size: 24px !important;

}
.rocket-back-txt h6 {
    color: #FFFFFF;
    font-size: 17px !important;
    line-height: 1.3;
}
 
}