.save-hrs {
  /* font-size: 22px; */
  font-weight: 600;
}
.why-alred-txt h5 {
  font-weight: 600;
  color: #202020;
  line-height: 1.3;
}
.why-alred-txt p {
  font-weight: 400;
  color: #464646;
  font-size: 15px;
}
.svg-icons-al {
  width: 35px;
}
.alfred-lap-img {
  width: 100%;
  /* height:100%; */
  object-fit: contain;
}

.alfred-why {
  position: relative;
  overflow: hidden;
}
.alfred-why::before {
  content: "";
  height: 36%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-color: #eaf6f8;
}
.alfred-why::after {
  content: "";
  height: 38%;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: -1;
  background-color: #eaf6f8;
}

@media (max-width: 992px) {
  .alfred-why::after {
    display: none;
  }

  .alfred-why::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color: #eaf6f8;
  }
}
