/* :root {
    --c1:#3b8346; 
    --c1: #95d689;
}

.c1 {
    color: var(--c1) !important;
}

.w {
    color: #ffffff !important;
}

.w2 {
    color: #a0a0a0;
} */

.Login-hero {
    height: 100vh;
    background-image: url("./assets/back-simbli.png");
    background-position: center;
    background-size: 100% 100%;
    position: relative;;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
img.nv-icon-soc {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.hero-txt {
    font-size: 55px;
}

/* top logo and icon section */
.Logintop-nv {
    position: absolute;
    top: 0%;
}

.Login_logo {
    width: 140px;
}

.Login_nv-icon-soc {
    width: 18px;
    /* height: unset; */
    object-fit: contain;
}

.p {
    font-size: 18px;
}

/* ==== mobile === */
@media screen and (max-width: 620px) {
    .Login_logo {
        width: 30%;
    }
}

.Login_form-overlay {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 9px;
}

.jesica-img img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.jesica-img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

.jesica-text h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
}

.jesica-text p {
    color: #e9e9e9;
    font-size: 15px;
}

.form-p {
    color: #57C957;
    font-size: 13px;
}

.Login_form-h6 {
    background: linear-gradient(85deg, #232323f5 0%, #999999bb 60%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for modern browsers */
  color: transparent !important;
    font-size: 28px;
    font-weight: 600;
}

.Login_label {
    display: block;
    font-size: 13px;
    color: #2A2A2A;
    /* text-gray-300 */
}

.Login_input-group-1 {
    position: relative;
    display: block;
    border-radius: 9px;
    overflow: hidden;
}

/* ICON: left chunk */
.Login_input-icon {
    position: absolute;
    inset: 0 auto 0 0;
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    color: #9ca3af;
   background: #F4F4F4;


    /* one continuous border with input */
   border: 1px solid #78da7800;
    border-right: 0;
    /* seam with input */
    border-radius: 9px 0 0 9px;
    /* left corners only */

    transition: border-color 0.18s ease, color 0.18s ease, filter 0.18s ease;
}

.Login_input-icon svg,
.Login_toggle-button svg {
    width: 17px;
    height: 17px;
}
.svg-colors{
  color:#747474 !important;
}
/* INPUT: right chunk */
.Login_input-field {
  font-size: 14px;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 0 44px 0 48px;
    /* room for icon */
border: 1px solid #78da7800;
    color: #252525;
    outline: none;
 background: #F4F4F4;

    border-left: 0;
    /* seam with icon */
    border-radius: 0 9px 9px 0;
    /* right corners only */
    transition: border-color 0.18s ease;
}

.Login_input-field:-webkit-autofill,
.Login_input-field:-webkit-autofill:hover,
.Login_input-field:-webkit-autofill:focus,
.Login_input-field:-webkit-autofill:active {
    /* -webkit-box-shadow: 0 0 0px 1000px #111514 inset !important; */
    /* Dark background */
    /* -webkit-text-fill-color: #ffffff !important; */
    /* White text */
    /* border: 1.5px solid #3a3f3e !important; */
    /* Default gray border */
    border-left: 0 !important;
    border-radius: 0 9px 9px 0 !important;
    caret-color: #ffffff;
}

/* Make it green only when focused */
.Login_input-field:-webkit-autofill:focus {
    border-color: #2be47f !important;
}

/* Optional: match icon styling for autofill focus */
.Login_input-field:-webkit-autofill:focus~.Login_input-icon {
   border: 1px solid #78DA78;
    color: #59C959 !important;
}


.Login_toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 0px;
    background: transparent;
    color: #9ca3af;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 2;
    /* ensures it's above the input */
}

/* Focus: change border color on BOTH */
.Login_input-group-1:focus-within .Login_input-field,
.Login_input-group-1:focus-within .Login_input-icon {
    border-color: #2be47f !important;
}

/* Optional unified glow around the whole control */
/* .Login_input-group-1:focus-within .Login_input-field {} */

.Login_input-group-1:focus-within .Login_input-icon {
    color: #2be47f;
}

/* Hover – optional */
.Login_toggle-button:hover {
    color: #cbd5e1;
}

.Login_login-sim {
    background: linear-gradient(90deg, #7ddd7d 0%, #54c754 99.99%);
    color: #000000;
    font-size: 15px;
    border-radius: 9px;
    width: 100%;
    height: 44px;
    border: 0px;
    transition: background 0.3s ease;
}

.Login_login-sim:disabled {
    background: #b5b5b5;
    /* override gradient */
    color: #666;
    /* optional: dim text color */
    cursor: not-allowed;
}


.Login_simbli-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.Login_google-login {
    width: 15px;
    height: 15px;
}

.Login_microsoft-btn {
    width: 50%;
    height: 38px;
    border-radius: 9px;
    border: 0px;
   border: 1px solid #EDEDED;
   background: #F4F4F4;
    color: #252525;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 9px !important;
    border-bottom-right-radius: 9px !important;
}

@media (min-width: 381px) and (max-width: 600px) {
    /* .jesica-img img {
        height: 90px;
        width: 90px;
    } */

    .jesica-text h1 {
        font-size: 22px;
    }

    .Login_form-h6 {
        font-size: 24px;
    }

    .Login_form-overlay-login {
        text-align: center;
    }
}

@media (max-width: 380px) {
    /* .jesica-img img {
        height: 80px;
        width: 80px;
    } */

    .jesica-text h1 {
        font-size: 19px;
    }

    .Login_form-h6 {
        font-size: 22px;
    }

    .Login_login-sim {
        height: 34px;
    }

    .jesica-img-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-around; */
    }

    .Login_form-overlay-login {
        text-align: center;
    }
}

/* .nsm7Bb-HzV7m-LgbsSe {
    width: 100% !important;
    height: 38px !important;
    border-radius: 9px !important;
    border: 0px !important;
    border: 1px solid #262626 !important;
    color: #ffff !important;
    font-size: 15px !important;
    background: #0f0f0f !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
} */

.Simbli_h5 {
    font-weight: bold;
    background: linear-gradient(90deg, #FFFFFF, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* for Firefox */
    /* text-fill-color: transparent; fallback */
}


.custom-dialog .MuiPaper-root {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.356) 0%,
            rgba(55, 55, 55, 0.397) 100%) !important;
    border: 1px solid #5353537e !important;
    border-radius: 9px !important;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.custom-dialog-title {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.custom-dialog-content p {
    font-size: 15px;
    color: #e9e9e9;
    margin: 0;
}

.custom-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.custom-dialog .join-button {
    background: linear-gradient(90deg, #7ddd7d 0%, #54c754 100%) !important;
    color: #000 !important;
    font-weight: 500;
    border-radius: 9px;
    padding: 8px 16px;
    text-transform: none;
}

.custom-dialog .close-button {
    color: #e9e9e9 !important;
    border: 1px solid #3a3f3e !important;
    border-radius: 9px;
    padding: 8px 16px;
    text-transform: none;
}

@media (max-width:768px) {
  .Login-hero {
    height: auto;
    padding-bottom: 25px;
}
}
.actives-bnn{
    border: 0.5px solid #84E084;
    background: #D5FFDE;
    border-radius:50px;
    height:15px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -24%;


}
.cardslink1{
    font-size: 17px !important;
    font-weight: 600;
    color:#022C33;
}
.actives-bnn p{
    color:#229C22 !important;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
     margin-top: 3px;
}
.dic-socialpost{
    height:100px;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* loader */
.loader {
    color: #1ea14f;
    /* ✅ Updated to green */
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

.loadertwo {
    color: #1ea14f;
    /* ✅ Updated to green */
    font-size: 35px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

.smallloader {
    color: #1ea14f;
    /* ✅ Updated to green */
    font-size: 20px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
            -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
            -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* @media (max-width: 600px) {

    .email-head {
        margin-top: 45px !important;
    }

    .chat-header {
        margin-top: 45px !important;
    }

    .setting-header {
        margin-top: 45px !important;
    }

} */